{
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"printWidth": 100,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["classify"],
	"tailwindAttributes": ["classNames"]
}
